<!-- Services -->
<section class="services-holder">
  <div class="container">
    <div class="p-relative has-layout">

      <!-- Alert -->
      <div class="alert-1">
        <p><i class="icon-star-full"></i>Bienvenido a la academia virtual UMACHAY</p>
      </div>
      <!-- Alert -->

      <!-- Services Columns -->
      <div class="services-columns white-bg">
        <div id="services-slider" class="services-slider">

          <!-- Service Figure -->
          <div class="item" *ngFor="let plan of plans">
            <figure class="services-figure bg-3">
              <figcaption>
                <span>{{plan.description}}</span>
                <h2>{{plan.name}}</h2>
                <a class="tc-btn light shadow-0 sm" href="#">REGISTRARME</a>
                <div class="product-rate">S/ {{plan.price | number:'2.2-2'}}</div>
              </figcaption>
              <img class="service-img" src="assets/images/services/img-01.png" alt="">
            </figure>
          </div>
          <!-- Service Figure -->

        </div>
      </div>
      <!-- Services Columns -->

    </div>
  </div>
</section>
<!-- Services -->
