<!-- Inner Banner -->
<div class="inner-banner blog" data-enllax-ratio="-.3" style="background: url(assets/images/inner-banners/img-07.jpg) 50% 0% no-repeat fixed;">
  <div class="container">
    <div class="inner-heading">
      <h2>Examen de Admision</h2>
      <p>texto relacionado al examen de admision,<br>
      you can avoid crediting the image to Freepik.</p>
    </div>
  </div>
</div>
<!-- Inner Banner -->

<!-- Main -->
<main id="main">

  <!-- Blog Detail -->
  <section class="blogs-holder tc-padding-bottom gray-bg">
    <div class="container">
      <div class="row">

        <!-- Content -->
        <div class="col-lg-9 col-md-8 col-xs-12">

          <!-- Blog Content -->
          <div class="content has-layout">

            <!-- Breadcrumbs -->
            <div class="blog-detail-breadcrumbs">
              <div class="blog-date">
                <h5>24</h5>
                <span>December<i>2015</i></span>
              </div>
              <div class="tag-nd-categories">
                <ul>
                  <li><a href="#"><i class="icon-folder"></i>Education</a></li>
                  <li><a href="#"><i class="icon-heart"></i>25 Likes</a></li>
                </ul>
                <a class="back-home" href="#"><i class="icon-home"></i>Inicio</a>
              </div>
            </div>
            <!-- Breadcrumbs -->

            <!-- Blogs Detail -->
            <div class="single-blog-detail">

              <!-- Single Blog Title -->
              <div class="single-blog-title">
                <h2>Nuevo examen tipo admisión</h2>
              </div>
              <!-- Single Blog Title -->

              <!-- ETA -->
              <div class="leave-comment has-layout">
                <h3>Datos Generales - {{etaForm.form.valid}}</h3>
                <p>{{eta}}</p>
                <form (ngSubmit)="saveEta(etaModel)" class="comment-form" #etaForm="ngForm">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" name="name"
                             [(ngModel)]="etaModel.name"
                             placeholder="Admision UNI 2018" required>
                  </div>
                  <div class="form-group">
                      <label>Tiempo de resolución(minutos)</label>
                      <input type="number" class="form-control"
                             name="reolutionTime"
                             [(ngModel)]="etaModel.resolutionTime"
                             placeholder="180" required>
                  </div>
                  <div class="form-group">
                    <label>Fecha de apertura</label>
                    <input type="text" class="form-control" name="openAt"
                           [(ngModel)]="etaModel.openAt" required>
                  </div>
                  <div class="form-group">
                    <label>Fecha de cierre</label>
                    <input type="text" class="form-control" name="closeAt"
                           [(ngModel)]="etaModel.closeAt" required>
                  </div>
                  <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" rows="6" name="description"
                              [(ngModel)]="etaModel.description"
                              placeholder="Detalles del examen"
                              required></textarea>
                  </div>
                  <button class="tc-btn full-with shadow-0"
                          [disabled]="!etaForm.form.valid">Guardar y continuar
                  </button>
                </form>
              </div>
              <!-- ETA -->

              <!-- ETA - categories -->
              <div class="leave-comment has-layout" *ngIf="eta">
                <h3> Categorias</h3>
                <form #categoryForm="ngForm">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name"
                           [(ngModel)]="categoryName"
                           placeholder="Admision UNI 2018" required>
                  </div>
                  <div class="form-group">
                    <button type="button" name="button" (click)="addCategory(categoryName)">Agregar</button>
                  </div>
                </form>
                <div class="">
                  <section *ngFor="let category of eta.categories; let i = index">
                    <header>
                      <h4>{{category.name}}</h4>
                      <button class="btn btn-success" name="button" (click)="category.add = true">
                        <i class="fa fa-plus"></i> pregunta
                      </button>
                    </header>
                    <form #questonForm="ngForm" *ngIf="category.add">
                      <div class="form-group">
                        <label for="">Pregunta:</label>
                        <textarea name="name" [(ngModel)]="qst.name" rows="8" cols="80"></textarea>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>respuesta</th>
                              <th>¿Correcta?</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>A</td>
                              <td>
                                <textarea name="answerA" [(ngModel)]="qst.answerA" rows="4" cols="20"></textarea>
                              </td>
                              <td>
                                <input type="radio" name="answer" [(ngModel)]="qst.answer" value="0">
                              </td>
                            </tr>
                            <tr>
                              <td>B</td>
                              <td>
                                <textarea name="answerB" [(ngModel)]="qst.answerB" rows="4" cols="20"></textarea>
                              </td>
                              <td>
                                <input type="radio" name="answer" [(ngModel)]="qst.answer" value="1">
                              </td>
                            </tr>
                            <tr>
                              <td>C</td>
                              <td>
                                <textarea name="answerC" [(ngModel)]="qst.answerC" rows="4" cols="20"></textarea>
                              </td>
                              <td>
                                <input type="radio" name="answer" [(ngModel)]="qst.answer" value="2">
                              </td>
                            </tr>
                            <tr>
                              <td>D</td>
                              <td>
                                <textarea name="answerD" [(ngModel)]="qst.answerD" rows="4" cols="20"></textarea>
                              </td>
                              <td>
                                <input type="radio" name="answer" [(ngModel)]="qst.answer" value="3">
                              </td>
                            </tr>
                            <tr>
                              <td>E</td>
                              <td>
                                <textarea name="answerE" [(ngModel)]="qst.answerE" rows="4" cols="20"></textarea>
                              </td>
                              <td>
                                <input type="radio" name="answer" [(ngModel)]="qst.answer" value="4">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-big btn-primary" name="button" (click)="addQuestion(category, qst)">
                          <i class="fa fa-floppy-o"></i> Agregar
                        </button>
                      </div>
                    </form>
                    <article class="">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th colspan="3">Preguntas</th>
                          </tr>
                          <tr>
                            <th>nro</th>
                            <th>Nombre</th>
                            <th>Herramientas</th>
                          </tr>
                          <tr *ngFor="let question of category.questions; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{question.description}}</td>
                            <td>
                              <button class="btn btn-xs btn-success">
                                <i class="fa fa-plus"></i>
                              </button>
                              <button class="btn btn-xs btn-info">
                                <i class="fa fa-pencil"></i>
                              </button>
                              <button class="btn btn-xs btn-default">
                                <i class="fa fa-eye"></i>
                              </button>
                              <button class="btn btn-xs btn-warning">
                                <i class="fa fa-times"></i>
                              </button>
                            </td>
                          </tr>
                        </table>

                      </div>
                    </article>
                  </section>
                </div>

              </div>
              <!-- ETA - categories -->
            </div>
            <!-- Blogs Detail -->

          </div>
          <!-- Blog Content -->

        </div>
        <!-- Content -->

        <!-- Aside -->
        <aside class="col-lg-3 col-md-4 col-xs-12">
          <div class="blog-aside row">

            <!-- Add -->
            <div class="aside-widget add">
              <a href="#"><img src="assets/images/add-3.jpg" alt=""></a>
            </div>
            <!-- Add -->

            <!-- Blog Catagories -->
            <div class="aside-widget">
              <h3>Blog Catagories</h3>
              <div class="blog-catagories">
                <ul>
                  <li><a href="#">Principal's aBlog</a></li>
                  <li><a href="#">Senior School</a></li>
                  <li><a href="#">Middle School</a></li>
                  <li><a href="#">Junior School</a></li>
                  <li><a href="#">Sports Blog</a></li>
                  <li><a href="#">Kapa Haka</a></li>
                  <li><a href="#">School Wide Activities</a></li>
                  <li><a href="#">ESOL</a></li>
                </ul>
              </div>
            </div>
            <!-- Blog Catagories -->

            <!-- Related Products -->
            <div class="aside-widget">
              <h3>Related Products</h3>
              <ul class="aside-recent-post style-2">
                <li>
                  <div class="s-related-product">
                    <img src="assets/images/s-recent-post/img-01.jpg" alt="">
                    <h5><a href="#">Ness hey changed ring mongoose</a></h5>
                    <span class="date">JULY 24, 2015</span>
                  </div>
                </li>
                <li>
                  <div class="s-related-product">
                    <img src="assets/images/s-recent-post/img-02.jpg" alt="">
                    <h5><a href="#">Ness hey changed ring mongoose</a></h5>
                    <span class="date">JULY 24, 2015</span>
                  </div>
                </li>
                <li>
                  <div class="s-related-product">
                    <img src="assets/images/s-recent-post/img-03.jpg" alt="">
                    <h5><a href="#">Ness hey changed ring mongoose</a></h5>
                    <span class="date">JULY 24, 2015</span>
                  </div>
                </li>
                <li>
                  <div class="s-related-product">
                    <img src="assets/images/s-recent-post/img-04.jpg" alt="">
                    <h5><a href="#">Ness hey changed ring mongoose</a></h5>
                    <span class="date">JULY 24, 2015</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Related Products -->

            <!-- Accordians -->
            <div class="aside-widget">
              <h3>School Fecilities</h3>
              <div class="tc-accordians" id="accordion">
                <div class="panel">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Beautiful Class Rooms</a>
                    </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                      <p>Much flew yikes wholeheartedly goodness hey changed considering mongoose delinquent affectionately piranha flustered testy versus including darm.</p>
                      </div>
                    </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Secure Building</a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Much flew yikes wholeheartedly goodness hey changed considering mongoose delinquent affectionately piranha flustered testy versus including darm.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Pick and Drop</a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Much flew yikes wholeheartedly goodness hey changed considering mongoose delinquent affectionately piranha flustered testy versus including darm.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Sports Activities</a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Much flew yikes wholeheartedly goodness hey changed considering mongoose delinquent affectionately piranha flustered testy versus including darm.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Lush Play Ground</a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Much flew yikes wholeheartedly goodness hey changed considering mongoose delinquent affectionately piranha flustered testy versus including darm.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end container -->

            <!-- Add -->
            <div class="aside-widget">
              <h3>Facebook</h3>
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkindergardenplayschool%2Fposts%2F947106972089680%3A0&width=500"></iframe>
            </div>
            <!-- Add -->

          </div>
        </aside>
        <!-- Aside -->

      </div>
    </div>
  </section>
  <!-- Blog Detail -->

</main>
<!-- Main -->
