<!-- Inner Banner -->
<div class="inner-banner contact text-center" data-enllax-ratio="-.3" style="background: url(assets/images/inner-banners/img-08.jpg) 50% 0% no-repeat fixed;">
  <div class="container">
    <div class="inner-heading">
      <h2>Los mas grandes retos<br> Traen las mas grandes recompensas</h2>
      <p>If its a non urgent issue then you could also email us, we’ll get back to you in 24 hours.</p>
    </div>
  </div>
</div>
<!-- Inner Banner -->

<!-- Main -->
<main id="main">

  <!-- Contact -->
  <section class="contact-holder gray-bg tc-padding-bottom">
    <div class="container">
      <div class="row">

        <!-- Content questions -->
        <div class="col-sm-8">
          <div class="content">

            <!-- Form Heading -->
            <div class="form-heading">
              <h5>{{eta.name}} - ({{eta.resolutionTime}} minutos)</h5>
            </div>
            <!-- Form Heading -->

            <!-- Question -->
            <eta-question [(question)]="current_question"
                          [category]="current_category.name"
                          [index]="que_index+1"></eta-question>
            <div class="form-group">
              <button class="tc-btn shadow-0" (click)="before()">Aterior</button>
              <button class="tc-btn shadow-0 pull-right" (click)="next()">Siguiente</button>
              <div class="clearfix"></div>
            </div>

            <!-- /Question -->
          </div>
        </div>
        <!-- Content -->

        <!-- Aside All ETA resolution resume -->
        <aside class="col-sm-4">
          <div class="">
            <h3>Cuadro de respuestas</h3>
            <section>
              <header *ngFor="let cat of eta.categories">
                <strong>{{cat.name}}</strong>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td> {{ showAnswer(cat.questions[0]) }} </td>
                        <td> {{ showAnswer(cat.questions[1]) }} </td>
                        <td> {{ showAnswer(cat.questions[2]) }} </td>
                        <td> {{ showAnswer(cat.questions[3]) }} </td>
                        <td> {{ showAnswer(cat.questions[4]) }} </td>
                      </tr>
                      <tr>
                        <td> {{ showAnswer(cat.questions[5]) }} </td>
                        <td> {{ showAnswer(cat.questions[6]) }} </td>
                        <td> {{ showAnswer(cat.questions[7]) }} </td>
                        <td> {{ showAnswer(cat.questions[8]) }} </td>
                        <td> {{ showAnswer(cat.questions[9]) }} </td>
                      </tr>
                      <tr>
                        <td> {{ showAnswer(cat.questions[10]) }} </td>
                        <td> {{ showAnswer(cat.questions[11]) }} </td>
                        <td> {{ showAnswer(cat.questions[12]) }} </td>
                        <td> {{ showAnswer(cat.questions[13]) }} </td>
                        <td> {{ showAnswer(cat.questions[14]) }} </td>
                      </tr>
                      <tr>
                        <td> {{ showAnswer(cat.questions[15]) }} </td>
                        <td> {{ showAnswer(cat.questions[16]) }} </td>
                        <td> {{ showAnswer(cat.questions[17]) }} </td>
                        <td> {{ showAnswer(cat.questions[18]) }} </td>
                        <td> {{ showAnswer(cat.questions[19]) }} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </header>
            </section>
          </div>
        </aside>
        <!-- Aside -->

      </div>
    </div>
  </section>
  <!-- Contact -->

  <!-- Contact Paralax -->
  <div class="has-layout"><img src="assets/images/contact-paralax.jpg" alt=""></div>
  <!-- Contact Paralax -->

</main>
<!-- Main -->
