<!-- Form -->
<form class="comment-form contact" *ngIf="question">
  <div class="">
      <h3> <strong>Area: </strong> {{category}}</h3>
  </div>
  <div class="form-group">
      <label>Pregunta {{index}}:</label>
      <p>
        {{question.description}}
      </p>
  </div>
  <div class="form-group">
    <label>Alternativas - {{answer}}</label>
    <table class="table">
      <tbody>
        <tr>
          <th> a) </th>
          <td> {{question.alternatives[0]}} </td>
          <td> <input type="radio" [checked]="question.answer === 0"  name="answer" value="0" (change)="change(0)"> </td>
        </tr>
        <tr>
          <th> b) </th>
          <td> {{question.alternatives[1]}} </td>
          <td> <input type="radio" [checked]="question.answer === 1"  name="answer" value="1" (change)="change(1)"> </td>
        </tr>
        <tr>
          <th> c) </th>
          <td> {{question.alternatives[2]}} </td>
          <td> <input type="radio" [checked]="question.answer === 2"  name="answer" value="2" (change)="change(2)"> </td>
        </tr>
        <tr>
          <th> d) </th>
          <td> {{question.alternatives[3]}} </td>
          <td> <input type="radio" [checked]="question.answer === 3"  name="answer" value="3" (change)="change(3)"> </td>
        </tr>
        <tr>
          <th> e) </th>
          <td> {{question.alternatives[4]}} </td>
          <td> <input type="radio" [checked]="question.answer === 4"  name="answer" value="4" (change)="change(4)"> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="tc-btn full-width shadow-0">Submit Message</button>
</form>
<!-- Form -->

<div class="bg-red" *ngIf="!question">
  ERROR NO QUESTION
</div>
